.app-title {
    text-align: center;
}

.app-section {
    padding: 4px;
}

.filter-row {
    padding: 4px;
    display: flex;
}

.filter-item {
    padding: 8px;
    width: 100%;
}

.result-table {
    padding: 4px;
    width: 100%;
    border: solid;
}

.result-head {
    padding: 4px;
    text-align: center;
}

.result-data {
    padding: 4px;
    text-align: center;
}

#btn-search, #btn-reset {
    width: 100%;
}